*{
	padding: 0 0;
	margin: 0 0;
}

html,body{
	overflow: hidden;
	background: #C9CCD3;
 	background-image: linear-gradient(-180deg, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.10) 100%);
 	background-blend-mode: lighten;
}

.fullPage{
	width: 100vw;
	height: 100vh;
	/*cursor: none;*/
}

#menu-toggle{
	position: absolute;
	top: calc(50% - 19px);
	vertical-align: middle;
}

.container-fluid{
	padding: 0 0;
}